.main{
    background-image: url('https://sun9-61.userapi.com/impg/b2iC32PN4B7tSwckVwH74Rd2pCqihNfzOugQaw/pfC2ONrXUpU.jpg?size=1442x2160&quality=96&sign=30d851392093eddc42ccf1e5b753662d&type=album');
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;

    display: flex;
    padding-top: 2%;
    padding-right: 3%;
}
.form{
    padding-left: 5%;
    padding-right: 2%;
    margin-right:1%;
}
.results{
    display: flex;
    flex-wrap: wrap;
}

img{
    object-fit: cover;
    width: 400px;
    height: 400px;

    border-radius: 10px;
    box-shadow: 0 0 10px #444;
    margin: 1%;
}